.banner{
    width: 100%;
    margin: 1rem 0 1rem 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgb(255, 255, 255) 29%, rgb(0, 0, 0) 96%, rgb(0, 0, 0) 100%);
    overflow: hidden;
    img{
        transition: all .3s ease-in-out;
        &:hover{
            opacity: .7;
            transform: scale(1.3);
        }
    }
}