.asside{
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 20%;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    height: max-content;
}