.header{
    background: $blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 3.3rem;
    }
    &-logo{
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        margin-right: 2rem;
        span{
            font-size: 30px;
            font-weight: 700;
            padding: 0.2rem;
            color: #00c3ff;
        }
    }
    &-options{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            width: 30px;
            height: 30px;
            margin: 0rem 0.75rem;
        }
        &-notification{
            position: relative;
            &::before{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10px;
                content: '3';
                width: 15px;
                height: 15px;
                background: #ff0000;
                color: #fff;
                border-radius: 50%;
            }
        }
        &-inbox{
            position: relative;
            &::before{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10px;
                content: '8';
                width: 15px;
                height: 15px;
                background: #ff0000;
                color: #fff;
                border-radius: 50%;
            }
        }
    }
    &-search{
        position: relative;
        input{
            width: 400px;
            padding: 0.75rem 3rem;
            margin: 0 1.3rem;
            border-radius: 2rem;
            border: none;
            outline: none;
            transition: all .2s ease-in-out;
            &:focus{
                background: $white;
                border: none;
            }
        }
        img{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            margin-left: 3rem;
        }
    }
    &-profile{
        position: relative;
        width: 50px;
        height: 50px;
        img{
            border-radius: 50%;
            border: 1px solid #fff;
        }
        &::before{
            position: absolute;
            top: 3px;
            right: 3px;
            content: '';
            width: 10px;
            height: 10px;
            background: #00f33d;
            border: 1px solid #fff;
            border-radius: 50%;
        }
    }
}