@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Poppins:wght@300;500;600;700&family=Grey+Qo&family=Parisienne&family=Roboto:wght@300;400&family=Ubuntu:wght@400;500;700&display=swap');

$blue: #0A72F5;
$black: #111;
$gray: #BABEC1;
$white: #EFEFEF;

*, ::before, ::after{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: $black;
    font-weight: 300;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
 
a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

body{
    background-color: $white;
    transition: background-color .3s ease;
}

.container{
    display: flex;
    justify-content: center;
}